:root {
  --primary-color: #333;
  --secondary-color: rgb(0, 90, 121);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo {
  font-family: "forte", "Arial Narrow", Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  background-color: var(--primary-color);
  color: white;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a:hover {
  border-bottom: 2px white solid;
}

.navbar a {
  color: white;
  padding: 7px;
  margin: 0 5px;
}

.navbar .flex {
  justify-content: space-between;
}

/* Shwocase */
.showcase {
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
  margin-bottom: 100px;
}

.showcase-2 {
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  height: 400px;
  color: #333;
  position: relative;
  margin-bottom: 100px;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-2 .grid {
  grid-template-columns: 45% 55%;
  gap: 30px;
  overflow: visible;
}

/* Stats */
.stats {
  padding-top: 100px;
}

.stats-heading {
  width: 100%;
  padding: 0 15%;
}

.stats .grid h3 {
  font-size: 30px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(0.99);
}

.text-center {
  text-align: center;
}

.btn-secondary {
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
